<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=10.10.20.21;Initial Catalog=BusinessPlat;Persist Security Info=True;User ID=sa;Password=123456;"/>

    <add key="ConStringEncrypt" value="false"/>
    <!--是否已windows服务启动-->
    <add key="IsWindowsService" value="0"/>
    <!--是否为测试服务端-->
    <add key="Debug" value="1"/>
    <!--是否为测试服务端-->
    <add key="SMSDebug" value="1"/>
  
  </appSettings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
